{%extends 'base.html' %}

{% block content%}
<div class="tlo2" style="color: #F3EFE0">
        Strona główna
<br><br>
        Strona internetowa służy do prowadzenia domowej biblioteki. <br>
        W założeniu ilość użytkowników ma być ograniczona do ilości członków rodziny. Każdy z członków rodziny
        może podejrzeć co wypożyczyła inna osoba. Na stronie znajduję się główna lista wypożyczeń oraz osobne listy
        dla każdego z użytkowników. Mam nadzieje, że dzięki tej stronie łatwiej będzie pamiętać o pożyczonych książkach.
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div style="text-align:right; margin-right:20px">Autor: Zabrocki Cezary
        </div>
</div>





{%endblock %}

{% block title %}


        Strona główna


{%endblock %}
